[Unit]
Description=gpio2mqtt
After=network.target

[Service]
PermissionsStartOnly=false
ExecStart=/home/pi/CarportGPIO2MQTT/bin/python /home/pi/CarportGPIO2MQTT/gpiomqtt.py
WorkingDirectory = /home/pi/CarportGPIO2MQTT
Type=simple
Restart=always
RestartSec=1


[Install]
WantedBy=multi-user.target

